{% extends "home.html" %}

{% block title %} Generar Asesoria {% endblock title %}

{% block content %}

<div class="container">
    
    <div class="alert alert-danger m-1  oculto" id="alerta" role="alert"></div>

    <form method="POST" class="my-2 mx-3 row " id="Formulario">
        {% csrf_token %}
    <fieldset class="row mb-1 d-flex">
        <legend class=" col-lg-10 h2">Registro Diario</legend>
        <input type="submit" class="col-lg-2 align-self-center btn btn-warning  mt-2" id="EnviarRegistro" data-bs-target="#ModalConfirmacionAsesoria" value="Registrar">
    </fieldset>

        <fieldset class="p-3 pb-1 mb-0 col-md-12">
            <div class="border rounded-3 shadow  p-3 row  ">
                <legend class="h5 text-muted  mb-3 pb-2  border-bottom">Datos de Registro</legend>
                <div class="col-md-6">
                    <label for="Nombre" class="form-label" ><i class="icon ion-md-person"></i>
                        Nombre Alumno:</label>
                    <input type="text" class="form-control" id="Nombre" disabled >
                </div>
                <div class="col-md-3">
                    <label for="Matricula" class="form-label " ><i class="icon ion-md-medical"></i>
                        Matricula:</label>
                    <input type="text" class="form-control" id="Matricula" disabled>
                </div>
                <div class="col-md-3">
                    <label for="telefono" class="form-label "><i class="icon ion-md-call"></i>
                        Numero de Contacto:</label>
                    <input type="text" class="form-control" id="telefono">
                </div>
                <div class="col-md-6 mt-2">
                    <label for="" class="form-label "><i class="icon ion-md-mail"></i>
                        Correo Institucional:</label>
                    <div class="input-group">
                        <input type="text" id="correo" class="form-control" placeholder="al@@@@@@" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled >
                        <span class="input-group-text" id="basic-addon2">@alumnos.uacj.mx</span>
                    </div>
                </div>
                <div class="col-md-6 mt-2">
                    <label for="carrera" class="form-label " ><i class="icon ion-md-school"></i>
                        Programa Academico</label>
                    <select class="form-select text-muted " disabled id="carrera"  aria-label="Default select example">
                       <option value="0">Elige un Programa Academico</option>
                    </select>
                </div>
                <div class="col-md-6 mt-3">
                    <label for="Servicio" class="form-label "><i class="icon ion-md-call"></i> Servicio Otorgado:</label>
                    <select class="form-select text-muted " id="Servicio"  aria-label="Default select example">
                        <option value="0">Elige el Servicio</option>
                    </select>
                </div>
                <div class="col-md-3 mt-3">
                    <label for="Sexo" class="form-label "><i class="icon ion-md-person"></i> Genero:</label>
                    <select class="form-select text-muted " id="Sexo" disabled   aria-label="Default select example">
                        <option value="0">Elige el Genero</option>
                        <option value="F">Femenino</option>
                        <option value="M">Masculino</option>
                    </select>
                </div>
                
            </div>
        </fieldset>

        
    </form>
    
</div>

{% include "./ScriptsRegistroDiario.html" %}


{% endblock %}

