{% extends "home.html" %}

{% block title %} COBE CU {% endblock title %}

{% block content %}

<header class="container ">
    
    {% include "./Banner.bienvenida.html" %}
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 my-3">
                
            {% include "../home/Notas.html" %}

            </div>

            {% include "./ListaAsistenciaCOBE.html" %}

        </div>
    </div>
    </section>



{% include "../home/Modal.Buscar.html" %}
{% include "../home/Modal.Confirmar.html" %}
{% include "../home/Modal.InfoExtra.html" %}
{% include "./Scripts.html" %}
{% include "../home/ScriptTicket.html" %}
{% endblock %}