{%load static%}
<div class="col-lg-4 my-3">
    <div class="card rounded-0">
    <div class="card-header bg-light" style="text-align: center;">
        <h6 class="fw-bold mb-0">Lista de Asistencia de Servicios COBE</h6>
    </div>
    <div class="card-body">
        <div class="d-flex border-bottom py-2">
            <div class="d-flex me-3">
                <img
                src="{% static 'img/index/maxi_iglesias-kU2E--1248x698@abc.webp' %}" 
                alt=""
                class="user-img align-self-center mb-0"
                id="img-icon"
                />
            </div>
            <div class="align-self-center">
                <h6 class="d-inline-block mb-0" id="Name-List">
                Fernando Morales
                </h6>
                <small class="d-block text-muted" id="Time-Asist">8:00 am - 12:00 pm</small>
            </div>
            <div class="d-flex me-4" style="justify-items: center; margin: 10px;">
                <button type="button" class="btn btn-danger btn-sm" id="Btn-verM-info" style="margin-left: 15px; height: 30px;">Ver Más</button>
            </div>
        </div>

        <div class="d-flex border-bottom py-2">
            <div class="d-flex me-3">
                <img
                src="{% static 'img/index/maxi_iglesias-kU2E--1248x698@abc.webp' %}" 
                alt=""
                class="user-img align-self-center mb-0"
                />
            </div>
            <div class="align-self-center">
                <h6 class="d-inline-block mb-0">
                Fernando Morales
                </h6>
                <small class="d-block text-muted">8:00 am - 12:00 pm</small>
            </div>
            <div class="d-flex me-4" style="justify-items: center; margin: 10px;">
                <button type="button" class="btn btn-danger btn-sm" style="margin-left: 15px; height: 30px;">Ver Más</button>
            </div>
        </div>

        <div class="d-flex border-bottom py-2">
            <div class="d-flex me-3">
                <img
                src="{% static 'img/index/maxi_iglesias-kU2E--1248x698@abc.webp' %}" 
                alt=""
                class="user-img align-self-center mb-0"
                />
            </div>
            <div class="align-self-center">
                <h6 class="d-inline-block mb-0">
                Fernando Morales
                </h6>
                <small class="d-block text-muted">8:00 am - 12:00 pm</small>
            </div>
            <div class="d-flex me-4" style="justify-items: center; margin: 10px;">
                <button type="button" class="btn btn-danger btn-sm" style="margin-left: 15px; height: 30px;">Ver Más</button>
            </div>
        </div>
    </div>
    </div>
</div>