{%load static%}
<div class="col-lg-4 my-3">
    <div class="card rounded-0">
    <div class="card-header bg-light">
        <h6 class="fw-bold mb-0">Asesores Academicos En Turno</h6>
    </div>
    <div class="card-body">
        <div class="d-flex border-bottom py-2">
        <div class="d-flex me-3">
            <img
            src="{% static 'img/index/maxi_iglesias-kU2E--1248x698@abc.webp' %}" 
            alt=""
            class="user-img align-self-center mb-0"
            />
        </div>
        <div class="align-self-center">
            <h6 class="d-inline-block mb-0">
            Fernando Morales
            <span class="badge bg-success rounded-pill ms-2"
                >Disponible</span
            >
            </h6>
            <small class="d-block text-muted">8:00 am - 12:00 pm</small>
        </div>
        </div>

        <div class="d-flex border-bottom py-2">
        <div class="d-flex me-3">
            <img
            src="{% static 'img/index/maxi_iglesias-kU2E--1248x698@abc.webp' %}" 
            alt=""
            class="user-img align-self-center mb-0"
            />
        </div>
        <div class="align-self-center">
            <h6 class="d-inline-block mb-0">
            Fernando Morales
            <span class="badge bg-danger rounded-pill ms-2"
                >En Asesoria</span
            >
            </h6>
            <small class="d-block text-muted">8:00 am - 12:00 pm</small>
        </div>
        </div>

        <div class="d-flex border-bottom py-2">
        <div class="d-flex me-3">
            <img 
                class="user-img align-self-center mb-0" 
                src="{% static 'img/index/maxi_iglesias-kU2E--1248x698@abc.webp' %}" 
            >
        </div>
        <div class="align-self-center">
            <h6 class="d-inline-block mb-0">
            Fernando Morales
            <span class="badge bg-success rounded-pill ms-2">Disponible</span>
            </h6>
            <small class="d-block text-muted">8:00 am - 12:00 pm</small>
        </div>
        </div>

        <button class="btn btn-primary w-100 mt-3">Ver todos</button>
    </div>
    </div>
</div>