<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
            <div class="col-lg-3 d-flex">
                <div class="mx-auto text-center">
                <h6 class="text-muted">Asesorias del Semestre</h6>
                <h4 class="fw-normal">
                    <i class="icon ion-md-person"></i>
                    <span class="fw-bold">50</span> Alumnos
                </h4>
                <div class="cargo">
                    <label class="text-success me-2"
                    ><span class="fw-bold"
                        ><i class="icon ion-md-checkmark"></i> 40 </span
                    >vinieron</label
                    >
                    <label class="text-danger"
                    ><span class="fw-bold"
                        ><i class="icon ion-md-close"></i> 10 </span
                    >cancelaron</label
                    >
                </div>
                </div>
            </div>

            <div class="col-lg-3 d-flex">
                <div class="mx-auto text-center">
                <h6 class="text-muted">Asesorias del Mes</h6>
                <h4 class="fw-normal">
                    <i class="icon ion-md-person"></i>
                    <span class="fw-bold">20</span> Alumnos
                </h4>
                <div class="cargo">
                    <label class="text-success me-2"
                    ><span class="fw-bold"
                        ><i class="icon ion-md-checkmark"></i> 15 </span
                    >vinieron</label
                    >
                    <label class="text-danger"
                    ><span class="fw-bold"
                        ><i class="icon ion-md-close"></i> 5 </span
                    >cancelaron</label
                    >
                </div>
            </div>
        </div>

        <div class="col-lg-3 d-flex">
            <div class="mx-auto text-center">
                <h6 class="text-muted">Asesorias de la semana</h6>
                <h4 class="fw-normal">
                    <i class="icon ion-md-person"></i>
                    <span class="fw-bold">10</span> Alumnos
                </h4>
            <div class="cargo">
                <label class="text-success me-2"
                ><span class="fw-bold"
                    ><i class="icon ion-md-checkmark"></i> 8 </span
                >vinieron</label
                >
                <label class="text-danger"
                ><span class="fw-bold"
                    ><i class="icon ion-md-close"></i> 2 </span
                >cancelaron</label
                >
            </div>
            </div>
        </div>

        <div class="col-lg-3 d-flex">
            <div class="mx-auto text-center">
                <h6 class="text-muted">Asesorias del Dia</h6>
                <h4 class="fw-normal">
                    <i class="icon ion-md-person"></i>
                    <span class="fw-bold">0</span> Alumnos
                </h4>
                <div class="cargo">
                    <label class="text-success me-2"
                    ><span class="fw-bold"
                        ><i class="icon ion-md-checkmark"></i> 0 </span
                    >vinieron</label
                    >
                    <label class="text-danger"
                    ><span class="fw-bold"
                        ><i class="icon ion-md-close"></i> 0 </span>cancelaron</label>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>