<section class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h1 class="fw-bold mb-2">
                    Bienvenido {{user.first_name}} {{user.last_name}}
                    <!--Generar Dinamicamente-->
                </h1>
                <p class="text-muted" id="Fecha">
                    <!--Generar-->  
                </p>
            </div>
            <div class="col-lg-3 d-flex">
                <button
                    class="btn btn-success w-100 align-self-center"
                    id="BtnGenerarAsesoria"
                >
                    <i class="icon ion-md-school"></i> Generar Asesoria
                </button>
            </div>
        </div>
    </div>
</section>