
<div class="modal fade" tabindex="-1" id="ConfirmarDatos" data-bs-keyboard="false" data-bs-backdrop="static" aria-labelledby="ConfirmacionDatos" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Alumno encontrado</h5>
            </div>
            <div class="modal-body" id="contenedorBusquedaResultado">
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="DatosIncorrectos">Datos Incorrectos</button>
                <button type="button" class="btn btn-success" id="DatosCorrectos">Datos Correctos</button>
              </div>
        </div>
    </div>
</div>