<div class="modal fade" tabindex="-1" id="BuscarMatricula" data-bs-keyboard="false" data-bs-backdrop="static" aria-labelledby="BuscarMatricula" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Ingresa la Matricula del Alumno</h5>
          </div>
          <div class="modal-body">
              <form action="#" class="p-2 " id="formularioBuscarAlumno">
                  <div class="row">
                      <div class="col-md-4 text-center ">
                          <label for="" class="col-form-label">Matricula</label>
                      </div>
                      <div class="col-md-8">
                          <input type="text"  id="Matricula" class="form-control">
                          <div id="validationServerUsernameFeedback" class="invalid-feedback">
                            <span id="infoWrong"></span>
                          </div>
                          <div class="invalid-feedback">
                            Una Matricula lleva 6 caracteres
                          </div>
                      </div>
                  </div>
                  <div class="row mt-4">
                      <hr>
                  </div>
                  <div class="row">
                      <div class="col-md-4"></div>
                      <div class="col-md-4">
                          <button type="button" class="btn btn-danger w-100  " data-bs-dismiss="modal">Cancelar</button>
                      </div>
                      <div class="col-md-4">
                            <button id="btnMatricula" class="btn btn-dark  w-100 ">Buscar</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  
  </div>
</div>