
    <div class="modal fade" id="ModalInfoExtra" tabindex="-1">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Informacion Extra - Asistencia (Psicologia)</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-2" style="text-align: center;">
                        <img src="../../static/img/5289675.png" style="margin: 5px; width: 80px; height: 80px;" alt="">
                    </div>
                    <div class="col-lg-6">
                        <p></p>
                        <h4>Fernando Luis Vazquez Quiñones</h4>
                        <h6>8:00 am - 10:00 am | 6 de Mayo de 2024</h1>
                        <p></p>
                    </div>
                    <div class="col-lg-1">
                        <div class="" style="height: 95%; background-color: gray; width: 2%;"></div>
                    </div>
                    <div class="row col-lg-3" >
                        <div class="col-lg-12">
                            <button type="button" style="margin: 5px; width: 130px;" class="btn btn-primary btn-lg"> Asistió </button>
                        </div>
                        <div class="col-lg-12">
                            <button type="button" style="margin: 5px; width: 130px;" class="btn btn-danger btn-lg">Reagendar</button>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="modal-footer" style="text-align: center;">
                    <h6 style="color: gray; opacity: 70%;">Psicologo: Ana Maria Guadalupe Quiñones</h6>
                </div>
            </div>
          </div>
        </div>
      </div>
  