<div class="modal" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static"  id="VerficarDatos">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmar Registro Diario</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="ModalComRegBody">
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No son correctos</button>
            <button type="button" class="btn btn-success " data-bs-dismiss="modal" id="RegistroDiarioGenerado">Son Correctos</button>
        </div>
      </div>
    </div>
  </div>
