
<div class="modal fade" id="ModalTicketError" data-bs-keyboard="false" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Ticket de Errores</h5>
        <button type="button" class="btn-close" id="btnCancelTicket" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <form class="row g-3 needs-validation" novalidate>
            <div class="form-floating">
              <select class="form-select" id="SlectorAsunto" aria-label="Floating label select example">
                <option selected value="">Asuntos</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <label for="floatingSelectGrid">Seleccione el Asunto del problema</label>
            </div>
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
              <textarea class="form-control" placeholder="Ingresa la descripción del error" id="DescripTicket" rows="4"></textarea>
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="SumbitTicket" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </div>
</div>