
<div class="modal fade" tabindex="-1" id="NewDatos" data-bs-keyboard="false" data-bs-backdrop="static" aria-labelledby="ConfirmacionDatos" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title-noEncontrado"></h5>
            </div>
            <div class="modal-body" id="MensajeAlumnoNoEncontrado">
               <h2 class="text-danger fw-bold">Ooops! Parece que el Alumno no fue encontrado</h3>
               <p class="fw-normal mt-1 ">Verifique que la matricula que ingreso sea la correcta. Si la matricula es correcta<span class="fw-bold"> De Click en el Boton <i>Registrar Alumno</i></span>  para brindar la asesoria, De lo contrario <span class="fw-bold text-primary "> De Click en el Boton <i>Volver a intentar</i> </span> para ingresar nuevamente la matricula</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="VolverIntentar">Volver a intentar</button>
                <button type="button" class="btn btn-success" id="RegistrarAlumno">Registrar Alumno</button>
              </div>
        </div>
    </div>
</div>
