#but-two-fu{
    height: 40px; 
    width: 45px; 
    z-index:calc(300);
    transition: all 0.5s;
    color: #fff;
    display: none;
    transition: 0.3s;
}

#but-tic{
    transition: all 0.3s;
    z-index:calc(200); 
    display: none;
}

#but-not{
    transition: all 0.3s;
    z-index: calc(100);
    display: none;
}