<div class="modal" data-bs-keyboard="false" data-bs-backdrop="static"  tabindex="-1" id="ModalComentario">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Escribe un Comentario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6>Escribe aqui algunas indicaciones extra sobre formas de comunicacion o de aprendizaje que mejoren la calidad de la comunicacion y la asesoria</h6>

        <textarea name="" class="form-control " id="ComentarioText" style="resize: none; height: 200px;"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" id="BtnGuardarComentario" class="btn btn-warning " data-bs-dismiss="modal">Guardar Comentario</button>
      </div>
    </div>
  </div>
</div>


