<div class="modal" tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static"  id="ModalConfirmacionAsesoria">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Confirmacion de Asesoria</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h5 class=" ">Valide si los datos capturados son correctos:</h5>
          <div class="mt-3 p-2 " id="infoAsesoria">
           
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No son correctos</button>
          <button type="button" class="btn btn-success " data-bs-dismiss="modal" id="AsesoriaGenerar">Son Correctos</button>
        </div>
      </div>
    </div>
  </div>